{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        {% if article.NonArticle == 0%}
        <article>
            <h2>{{ article.titreArticle }}</h2>
            <div class="metadata"> Ecrit le {{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</div>
            <div class="content">
                <img src="/image/{{ article.imageArticle }}" alt="" height=400 width=800>
                {{ article.contenuArticle | raw }}
                <h3>{{ article.titre2Article }}</h3>
                <img src="/image/{{ article.image2Article }}" alt="" height=400 width=800>
                {{ article.contenu2Article | raw }}
                <h3>{{ article.titre3Article }}</h3>
                {{ article.contenu3Article | raw }}
                <a href="{{ path('site_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>

            </div>
        </article>
      
    {% endif %}
    {% endfor %}

</section>
   
{% endblock %}
