{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        {% if article.NonArticle == 0%}
        <article>
            <h2 class="gtitre">{{ article.titreArticle }}</h2>
            <div class="metadata"> Ecrit le {{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</div>
            <div class="content">
                <img class="image" src="/image/{{ article.imageArticle }}" alt="">
                {{ article.contenuArticle | raw }}
                <h3 class="titre">{{ article.titre2Article }}</h3>
                <img class="image" src="/image/{{ article.image2Article }}" alt="">
                {{ article.contenu2Article | raw }}
                <h3 class="titre">{{ article.titre3Article }}</h3>
                {{ article.contenu3Article | raw }}<br>
                <a href="{{ path('site_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <hr>
    {% endif %}
    {% endfor %}

</section>
   
{% endblock %}
