{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        {% if article.NonArticle == 1%}
        <article>
            <h2>{{ article.titreArticle }}</h2>
            <div class="metadata"> Ecrit le {{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</div>
            <div class="content">
                <img src="{{ article.imageArticle }}" alt="" height=400 width=800>
                {{ article.contenuArticle | raw }}
                <a href="{{ path('site_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>

            </div>
        </article>
        
    {% endif %}
    {% endfor %}

</section>
   
{% endblock %}
