{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

<section class="articles">
    {% for article in articles %}
        {% if article.NonArticle == 1%}
        <article>
            <h2 class="gtitre">{{ article.titreArticle }}</h2>
            <div class="metadata"> Ecrit le {{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</div>
            <div class="content">
                <img class="image" src="/image/{{ article.imageArticle }}" alt="" height=600 width=1000>
                <a href="{{ path('site_show',{'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <hr class="std">
        
        {% endif %}
    {% endfor %}
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('site', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ path('site', {'page': i}) }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path('site', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>
        
</section>

    
   
{% endblock %}
