{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<section class="articles">
    
        <article>
            <h2 class="gtitre">{{ article.titreArticle }}</h2>
            <div class="metadata"> Ecrit le {{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</div>
            <div class="content">
                <img class="image" src="/image/{{ article.imageArticle }}" alt="">
                <p class="ppp">{{ article.contenuArticle | raw }}</p>
                <h3 class="titre">{{ article.titre2Article }}</h3>
                <img class="image" src="/image/{{ article.image2Article }}" alt="">
                <p class="ppp">{{ article.contenu2Article | raw }}</p>
                <h3 class="titre">{{ article.titre3Article }}</h3>
                <p class="ppp">{{ article.contenu3Article | raw }}</p>
            </div>
        </article>

        <section id="commentaires">
            <h1>{{ article.commentaires | length }} Commentaires :</h1>
            {% for commentaire in article.commentaires %}
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{ commentaire.user.pseudo }} (<small>{{ commentaire.dateCommentaire | date('d/m/Y à H:i') }}</small>)
                        </div>
                        
                        <div class="col">
                            <p>{{ commentaire.contenuCommentaire | raw }}</p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('removeCommentaire',{'id': commentaire.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if app.user %}
            {{ form_start(commentaireForm) }}

            {{ form_row(commentaireForm.contenuCommentaire, {'attr': {'placeholder': "Votre commentaire"} }) }}

            <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(commentaireForm) }}

            {% else %}
                <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
                <a href="{{path('security_login')}}" class="btn btn-primary">Se connecter</a>
            {% endif %}
        </section>

    
</section>
   
{% endblock %}
