{% extends 'base.html.twig' %}

{% block body %}
<div class="container main">
<!--message pour affirmer que le commentaire a bien été supprimer-->
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <section class="articles">
    <!--card pour afficher l'intégralité de l'article-->
        <div class="card my-5" style="max-width: 100%;">
            <div class="row no-gutters">
                <div>
                    <div class="card-body pp">
                        <h5 class="card-title">{{ article.titreArticle }}</h5>
                        <p class="card-text"><small class="text-muted"> Ecrit le {{ article.dateArticle | date('d/m/Y') }}
                         à {{ article.dateArticle | date('H:i') }} dans la catégorie {{  article.category.nomCategory }}</small></p>
                        <img class="image" src="/image/{{ article.imageArticle }}" alt="">
                        
                        <p class="card-text">{{ article.contenuArticle | raw }}</p>
                        <img class="image" src="/image/{{ article.image2Article }}" alt="">
                        <h5 class="card-title">{{ article.titre2Article }}</h5>
                        <p class="card-text">{{ article.contenu2Article | raw }}</p>
                        <h5 class="card-title">{{ article.titre3Article }}</h5>
                        <p class="card-text">{{ article.contenu3Article | raw }}</p>              
                    </div>
                </div>
            </div>
        </div>

    <hr class="std">
    
        <section id="commentaires">
            <h1>{{ article.commentaires | length }} Commentaires :</h1>
            <!-- boucle for pour afficher les commentaires-->
            {% for commentaire in article.commentaires %}
                <div class="card">
                    <h6 class="card-header">{{ commentaire.user.pseudo }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ commentaire.dateCommentaire | date('d/m/Y à H:i') }}</p>
                        <p class="card-text">{{ commentaire.contenuCommentaire | raw }}</p>
                    <!-- condition pour l'admin, qu'il puisse supprimer des commentaires-->
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('removeCommentaire',{'id': commentaire.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        <!--condition pour savoir si le user est connecté-->
            {% if app.user %}
            {{ form_start(commentaireForm) }}

            {{ form_row(commentaireForm.contenuCommentaire, {'attr': {'placeholder': "Votre commentaire"} }) }}

            <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(commentaireForm) }}
        <!-- ce qu'il s'affiche si le user n'est pas connecter-->
            {% else %}
                <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
                <a href="{{path('security_login')}}" class="btn btn-primary">Se connecter</a>
            {% endif %}
        </section>

    
    </section>
</div>
   
{% endblock %}
