{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Publié le</th>
            <th scope="col">Fonctions</th>
            </tr>
        </thead>
        {% for article in articles %}
        
            <tbody>
                <tr class="table-dark">
                <th scope="row">{{ article.titreArticle }}</th>
                <td>User</td>
                <td>{{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }}</td>
                <td>
                    <a href="{{ path('site_edit',{'id': article.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('removeArticle',{'id': article.id}) }}" class="btn btn-danger">Supprimer</a>
                </tr>
            </tbody>
        
        {% endfor %}
    </table> 

     <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">email</th>
            <th scope="col">rôle</th>
            <th scope="col">Fonctions</th>
            </tr>
        </thead>

        {% for user in users %}
        
            <tbody>
                <tr class="table-dark">
                <th scope="row">{{ user.pseudo }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.role}}</td>
                <td>
                    <a href="{{ path('site_edit',{'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('removeUser',{'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                </tr>
            </tbody>
        
        {% endfor %}
    </table> 
{% endblock %}
