{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Publié le</th>
            <th scope="col">Fonctions</th>
            </tr>
        </thead>
        {% for article in articles %}
        
            <tbody>
                <tr class="table-secondary">
                <th scope="row">{{ article.titreArticle }}</th>
                <td>User</td>
                <td>{{ article.dateArticle | date('d/m/Y') }} à {{ article.dateArticle | date('H:i') }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('site_edit',{'id': article.id}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('removeArticle',{'id': article.id}) }}">Supprimer</a>
                </tr>
            </tbody>
        
        {% endfor %}
    </table> 
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': i}) }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>

     <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">email</th>
            <th scope="col">Fonctions</th>
            </tr>
        </thead>

        {% for user in users %}
        
            <tbody>
                <tr class="table-secondary">
                <th scope="row">{{ user.pseudo }}</th>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('removeUser',{'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                </tr>
            </tbody>
        
        {% endfor %}
    </table> 
    <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': page - 1}) }}">&laquo;</a>
                </li>
                {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': i}) }}">{{ i }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page == pagess %}disabled{% endif %}">
                <a class="page-link" href="{{ path('security_admin', {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>
    
{% endblock %}
