<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Neptune{% endblock %}</title>
    <link rel="stylesheet" href="../css/style.css">
    
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white" href="{{ path('home') }}">Neptune</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-dark pb-0" id="navbarColor02">
            <ul class="navbar-nav mr-auto pb-0">
                <li class="nav-item" >
                    <a class="nav-link text-white" href="{{ path('site') }}">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('article') }}">Articles</a>
                </li>

                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('site_create') }}">Créer un article</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('propos') }}">A propos</a>
                </li>             

            </ul>
            <div class="mt-3">
                {% if not app.user %}            
                    <button type="button" class="btn btn-outline-primary">
                        <a href="{{ path('security_registration') }}" class="nav-link text-white">Inscription</a>
                    </button>             
                {% endif %}

                {% if not app.user %}
                    <button type="button" class=" btn btn-outline-primary">
                        <a href="{{ path('security_login') }}" class="nav-link text-white">Connexion</a>
                    </button>
                    {% else %}
                    <button type="button" class=" btn btn-outline-primary">
                        <a href="{{ path('security_logout') }}" class="nav-link text-white">Déconnexion</a>
                    </button>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class=" btn btn-outline-primary">
                        <a class="nav-link text-white" href="{{ path('security_admin') }}">Administration</a>
                    </button>
                {% endif %}
            </div>
        </div>
    </nav>


        {% block body %}{% endblock %}


    <!-- Footer -->
    <footer class="page-footer bg-secondary pt-4 mt-3">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row ml-3">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 ">

                    <!-- Content -->
                    <h4 class="text-uppercase text-dark">Neptune</h4>
                    <p class="text-dark">Espace de partages et de débats.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h4 class="text-uppercase text-dark">Notre espace</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-dark" href="site">Actualités</a>
                        </li>
                        <li>
                            <a class="text-dark" href="article">Articles</a>
                        </li>        
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h4 class="text-uppercase text-dark">Annexes</h4>

                    <ul class="list-unstyled">
                        <li>
                            <a class="text-dark" href="{{ path('propos') }}">A propos</a>
                        </li>
                        <li>
                            <a class="text-dark" href="{{ path('reglement') }}">Règlement</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    <hr class="std">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-dark">© 2019 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/education/bootstrap/"> Neptune.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>